<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>注册HID</title>
    <link href="http://risebox.applinzi.com/css/mui.min.css" rel="stylesheet"/>
</head>
<style>
.lotHeader{
	background: #C00;
}
.lotHeader h1{
	color: #FFF;
}
.lotHeader .mui-btn-link {
	color:#FFF;
}
.guide,.lots {
	margin-top: 10px;
	background: #FFF;
}
.guide img{margin: 0 auto;width: 50%;display: block;}
.guide p{text-align: center;}
.refer {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	min-height: 100vh;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
[v-cloak] {
   display:none;
}
</style>
<body>
	<header class="mui-bar mui-bar-nav lotHeader">
		<a class="mui-action-back mui-btn mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</a>
		<h1 class="mui-title">注册HID</h1>
	</header>
	<nav class="mui-bar mui-bar-tab" id="bottomNav">
	    <a href="./index.html" class="mui-tab-item mui-active">
	        <span class="mui-icon mui-icon-home"></span>
	        <span class="mui-tab-label">首页</span>
	    </a>
	    <a href="./order.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-order"></span>
	        <span class="mui-tab-label">我的注单</span>
	    </a>
	    <a href="./agent.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-person"></span>
	        <span class="mui-tab-label">代理收入</span>
	    </a>
	    <a href="./faq.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-help"></span>
	        <span class="mui-tab-label">帮助中心</span>
	    </a>
	</nav>
	<div id="app" class="mui-content" v-bind:class="code ? 'refer' : ''"  v-cloak>
		<div v-if="loaded===false" class="mui-text-center">
                <div class="mui-loading">
                    <div class="mui-spinner"></div>
                </div>
            </div>
        <div v-else-if="web3===undefined" class="mui-text-center mui-content-padded">
    		<span class="mui-icon mui-icon-close" style="font-size: 5em;"></span>
    		<a href="./download.html" class="mui-btn mui-btn-blue mui-btn-block">
    			请下载或登陆APP
    		</a>
    	</div>
    	<div v-else-if="account===undefined" class="mui-text-center mui-content-padded">
    		<span class="mui-icon mui-icon-close" style="font-size: 5em;"></span>
    		<p>未检测到您的HDC账号,请确认登陆</p>
    	</div>
    	<div v-else-if="code==0 && reged" class="mui-text-center mui-content-padded">
    		<span class="mui-icon mui-spinner" style="font-size: 5em;"></span>
    		<p>您已登记，正在生成你的专属HID。
    			<br>请等待2分钟左右。
    		</p>
    	</div>
    	<div v-else-if="code==0 && !reged" class="mui-content-padded">
    		<h3>HID是什么</h3>
	    	<p>HID是HDC社区身份的标识，所有的权益均需通过HID来计算和获取。</p>
	    	<h4>作用：</h4>
	    	<p>
				HDC拥有系列生态产品，包括但不限于PoS+挖矿、博彩投注返佣、领取奖金，以及商城等。
				所有产品的代理、返佣、返点等都需要通过HID领取。</p>
	    	
	    	<h4>权益：</h4>
	    	<p>区块彩产品设立投注返佣。<br>
	    	 例：用户投注100 HDC，则额外上级 2 HDC，上上级1 HDC。</p>
	    	<p>
	    		PoS+挖矿可获得多级奖励<br>
				例：通过邀请一位矿工，挖矿速度可增长1倍。<br>
				最多可获得9层用户的速度增长。<br>
	    	</p>
	    	<form class="mui-input-group">
				<div class="mui-input-row">
					<label>邀请者：</label>
					<input type="number" placeholder="邀请者的HID" v-model="refer">
				</div>
				<div class="mui-input-row">
					<label>HDC地址：</label>
					<input type="text" placeholder="用于收返点的HDC地址" v-model="account" readOnly>
				</div>
				<div class="mui-button-row">
					<button class="mui-btn mui-btn-primary" type="button" v-on:click="reg()">&nbsp;&nbsp;注册&nbsp;&nbsp;</button>
				</div>
			</form>
    	</div> 
    	<div v-else-if="code>0" class="mui-content-padded">
    		<div class="mui-card mui-text-center">
					<br />
					<span style="color: orangered;font-size: 1.5em;vertical-align:middle;">区块彩，公平博彩平台！</span>
				</p>
				<h4>我的HID</h4>
				<h3>
					<span id="refercode" style="color: orangered;font-size: 2em;vertical-align:middle;" >{{code}}</span>
					
					<button type="button" class="mui-btn mui-btn-min mui-btn-green" style="vertical-align:middle;" v-on:click="copy()">复制</button>
				</h3>
				<div class="line"></div>
				<p>
					<img src="img/qr.png" alt="" />
				</p>
				<p>拥有HID，全站产品赚取返佣</p>
			</div>
    	</div> 
    	
	</div>
</body>
<script src="http://risebox.applinzi.com/dist/mui.min.js"></script>
<script src="https://lib.baomitu.com/vue/2.5.21/vue.min.js"></script>
<script src="dist/join.js"></script>
</html>