<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的注单</title>
    <link href="https://risebox.applinzi.com/css/mui.min.css" rel="stylesheet"/>
</head>
<style>
.no-record{
	width:40%;
}
.mui-media-body span{
  word-break:break-all;
}
[v-cloak] {
   display:none;
}
</style>
<body>
	<header class="mui-bar mui-bar-nav lotHeader">
		<h1 class="mui-title">我的注单</h1>
	</header>
	<nav class="mui-bar mui-bar-tab" id="bottomNav">
	    <a href="./index.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-home"></span>
	        <span class="mui-tab-label">首页</span>
	    </a>
	    <a href="./order.html" class="mui-tab-item mui-active">
	        <span class="mui-icon mui-icon-order"></span>
	        <span class="mui-tab-label">我的注单</span>
	    </a>
	    <a href="./agent.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-person"></span>
	        <span class="mui-tab-label">代理收入</span>
	    </a>
	    <a href="./faq.html" class="mui-tab-item">
	        <span class="mui-icon mui-icon-help"></span>
	        <span class="mui-tab-label">帮助中心</span>
	    </a>
	</nav>
	<div id="app" class="mui-content" v-cloak>
		<div style="padding: 10px 10px;">
			<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
				<a class="mui-control-item mui-active" href="#item1">全部注单</a>
				<a class="mui-control-item" href="#item2">已中奖</a>
			</div>
		</div>
		<div id="lists">
            <div v-if="loaded===false" class="mui-text-center">
                    <div class="mui-loading">
                        <div class="mui-spinner"></div>
                    </div>
                </div>
            <div v-else-if="web3===undefined" class="mui-text-center">
                <span class="mui-icon mui-icon-close" style="font-size: 5em;"></span>
                <a href="./download.html" class="mui-btn mui-btn-blue mui-btn-block">
                    请下载或登陆APP
                </a>
            </div>
            <div v-else-if="account===undefined" class="mui-text-center">
                <span class="mui-icon mui-icon-close" style="font-size: 5em;"></span>
                <p>未检测到您的HDC账号,请确认登陆</p>
            </div>
            <div v-else class="mui-card">
                <div id="item1" class="mui-control-content mui-active">
                    <ul class="mui-table-view" v-if="chips.length>0" v-cloak>
                        <li class="mui-table-view-cell mui-media" v-for="c in chips" v-if="c.product">
                            <img class="mui-media-object mui-pull-left" :src="'img/'+c.product+'.png'">
                            <div class="mui-media-body">
                                <p class="mui-ellipsis">第 {{c.seq}} 期 &nbsp;{{c.mul}}元 / 注</p>
                                <span v-if="c.product=='Q3D'">{{c.num.replace(/0(\d{2})a/g,'和$1,').replace(/[cdefg]/g,',').replace('nnnb','3同号,').replace('xyzh','3连号,').slice(0,-1)}}</span>
                                <span v-if="c.product=='F3D'">{{c.num.replace(/b/g,',').replace(/(\d{3})(d|c)/g,'[$1],').slice(0,-1)}}</span>
                                <span v-if="c.product=='Luck28'">{{c.num.replace(/(\d{2})/g,'$1,').slice(0,-1)}}</span>
                                <span v-if="c.product=='Eleven'">{{c.num.match(/\w{4}/gi).map((v)=>{return '任选'+v.substr(0,1)+'#'+parseInt(v.substr(1,3),16).toString(2).padStart(11,0).split('').map((v,k)=>{return v=="1"?11-k:''}).join(' ').trim();}).join('，')}}</span>
                            </div>
                        </li>
                    </ul>
                    <div v-else class="mui-text-center">
                        <br>
                        <img class="no-record" src="img/no-record.png" alt="" />
                        <p><br>没有记录<br></p>
                        
                    </div>
                </div>
                <div id="item2" class="mui-control-content">
                    <ul class="mui-table-view" v-if="bonus.length>0">
                        <li class="mui-table-view-cell mui-media" v-for="b in bonus" v-if="b.product">
                            <img class="mui-media-object mui-pull-left" :src="'img/'+b.product+'.png'">
                            <div class="mui-media-body">
                            <p class="mui-ellipsis">第 {{b.seq}} 期,{{new Date(b.timestamp*1000).toLocaleString()}}</p>
                            + {{b.profit}}元
                            </div>
                        </li>
                    </ul>
                    <div v-else class="mui-text-center">
                        <br>
                        <img class="no-record" src="img/no-record.png" alt="" />
                        <p><br>没有记录<br></p>
                    </div>
                </div>
            </div>
        </div>
					<p id="debug"></p>
	</div>
</body>
<script src="https://risebox.applinzi.com/dist/mui.min.js"></script>
<script src="https://lib.baomitu.com/vue/2.5.21/vue.min.js"></script>
<script src="dist/order.js"></script>
</html>